.moja-aplikacja-container {
    width: 70%;
    margin: auto;
  }
  
  .tabs-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    transition: background-color 0.3s ease;
  }
  
  .tab-button:hover {
    background-color: #bbb;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }